.field-validation-error {
    color: red !important;
}

.input-validation-error {
    border: 2px solid red !important;
}

.mobile-restriction {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}

.textbox-cash {
    display: flex;
    align-items: center;
    justify-content: center;
}

.currency-label {
    background-color: gray !important;
    color: white !important;
    width: 70px;
    text-align: center;
    line-height: 33px;
    border-radius: 3px;
    margin: 0;
    margin-right: -2px;
}

.img-icon {
    width: 35px;
    height: 35px;
}

@media (max-width: 1023px) {
    .mobile-restriction {
        display: block;
        z-index: 100000000000000000;
    }

    .container-scroller {
        display: none;
    }
}